extends layout

block content
  h1= title
  div
    p //虚构类图书（参数start count）
    p http://119.23.70.223:8880/book/fiction
    p //非虚构类图书（参数start count）
    p http://119.23.70.223:8880/book/nonfiction
    p //纸质书（参数start count）
    p http://119.23.70.223:8880/book/market_product
    p //书分类查看（参数type start count）
    p http://119.23.70.223:8880/book/classification
    p //书详情（参数id）
    p http://119.23.70.223:8880/book/detail
    p //影院热映（参数start count）
    p http://119.23.70.223:8880/movie/showing
    p //免费在线观看（参数start count）
    p http://119.23.70.223:8880/movie/free
    p //新片速递（参数start count）
    p http://119.23.70.223:8880/movie/latest
    p //电影分类查看（参数type start count）
    p http://119.23.70.223:8880/movie/classification
    p //电影详情（参数id）
    p http://119.23.70.223:8880/movie/detail
    p //华语新碟榜（参数start count）
    p http://119.23.70.223:8880/music/chinese
    p //欧美新碟榜（参数start count）
    p http://119.23.70.223:8880/music/occident
    p //日韩新碟榜（参数start count）
    p http://119.23.70.223:8880/music/japan_korea
    p //音乐分类查看（参数type start count）
    p http://119.23.70.223:8880/music/classification
    p //音乐详情（参数id）
    p http://119.23.70.223:8880/music/detail
    p //值得看电视剧（参数start count）
    p http://119.23.70.223:8880/tv/domestic
    p //综艺节目（参数start count）
    p http://119.23.70.223:8880/tv/variety_show
    p //热门美剧（参数start count）
    p http://119.23.70.223:8880/tv/american
    p //电视分类查看（参数type start count）
    p http://119.23.70.223:8880/tv/classification
    p //电视详情（参数id）
    p http://119.23.70.223:8880/tv/detail
